<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!--
      <listener>
        <listener-class>ru.softlab.ib6.frameworks.web.commands.listeners.SessionListener</listener-class>
      </listener>
     -->

    <listener>
        <listener-class>com.urban.services.notification.impl.ApiKeyInitializer</listener-class>
    </listener>


    <servlet>
        <description>Init servlet</description>
        <display-name>Init</display-name>
        <servlet-name>Init</servlet-name>
        <servlet-class>com.urban.services.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>SignIn servlet</description>
        <display-name>SignIn</display-name>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>com.urban.services.SignInServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Registration servlet</description>
        <display-name>Registration</display-name>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.urban.services.RegistrationServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Update user servlet</description>
        <display-name>UpdateUser</display-name>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>com.urban.services.UpdateUserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <description>Register listener servlet</description>
        <display-name>RegisterListener</display-name>
        <servlet-name>RegisterListener</servlet-name>
        <servlet-class>com.urban.services.notification.impl.Subscribe</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Unregister listener servlet</description>
        <display-name>UnregisterListener</display-name>
        <servlet-name>UnregisterListener</servlet-name>
        <servlet-class>com.urban.services.notification.impl.UnregisterServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Send all messages servlet</description>
        <display-name>SendAllMessagesServlet</display-name>
        <servlet-name>SendAllMessagesServlet</servlet-name>
        <servlet-class>com.urban.services.notification.impl.SendAllMessagesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Home servlet</description>
        <display-name>HomeServlet</display-name>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.urban.services.notification.impl.HomeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Servlet mapping -->

    <servlet-mapping>
        <servlet-name>Init</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>

    <!-- Notification system -->

    <servlet-mapping>
        <servlet-name>RegisterListener</servlet-name>
        <url-pattern>/registerListener</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UnregisterListener</servlet-name>
        <url-pattern>/unregisterListener</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SendAllMessagesServlet</servlet-name>
        <url-pattern>/sendAllMessages</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <!--
      <error-page>
        <error-code>404</error-code>
        <location>/static/fileNotFound.htm</location>
      </error-page>

      <error-page>
        <error-code>500</error-code>
        <location>/error.html</location>
      </error-page>

      <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.html</location>
      </error-page>

      <distributable/>
    -->

    <!--
    <session-config>
    <session-timeout>30</session-timeout>
    </session-config>
    -->

</web-app>
