<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
   	<!-- properties -->
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:URBAN</property>
		<property name="connection.username">Urban</property>
		<property name="connection.password">Urban</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">0</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">15</property>
		<property name="hibernate.c3p0.timeout">0</property>
		<property name="show_sql">true</property>
		<property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- mapping files -->
		
		<mapping class="com.urban.data.jdbc.pojo.ActionPagePojo"/>
		<mapping class="com.urban.data.jdbc.pojo.ActionPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.AddressPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.AdvertisingPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.ApplicationPropertiesPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.CartPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.CategoryPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.ContactPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.ContactTypePojo"/>
		<mapping class="com.urban.data.jdbc.pojo.EventPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.ImagePojo"/>
		<mapping class="com.urban.data.jdbc.pojo.InfoPagePojo"/>
		<mapping class="com.urban.data.jdbc.pojo.NewsCategoryPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.NewsPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.OrganizationPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.PagePojo"/>
		<mapping class="com.urban.data.jdbc.pojo.PersonPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.PhotoGallaryPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.PhotoPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.PlacePojo"/>
		<mapping class="com.urban.data.jdbc.pojo.PositionPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.StuffCategoryPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.StuffPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.UserPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.UserPropertiesPojo"/>
        <mapping class="com.urban.data.jdbc.pojo.VotingPojo"/>
		<mapping class="com.urban.data.jdbc.pojo.AnswerPojo"/>
		
	</session-factory>
</hibernate-configuration>
